<div id="content-wrapper" class="new-commission-slip view">
    <!--content-wrapper">-->
    <div class="container">
        <!--container-->
        <h1 ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip">View Commission Slip</h1>
        <h1 ng-if="Commissionslip.SlipType==SlipsType.TipLeadSlip">View Tip Lead Slip</h1>
        <div class="form-wrapper">
            <!--form-wrapper-->
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <div class="col-md-3">
                        <label ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" for="saleperson-name" class="col-md-12 control-label">Salesperson Name</label>
                        <label ng-if="Commissionslip.SlipType==SlipsType.TipLeadSlip" for="saleperson-name" class="col-md-12 control-label">Created Sales Rep</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="saleperson-name" placeholder="" ng-model="Commissionslip.SalesPerson" disabled>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12 control-label">Entry Date</label>
                        <div class="col-md-12">
                            <div class="input-group date" id="datetimepicker8">
                                <input type="text" class="form-control" ng-model="Commissionslip.EntryDate|date:'MM/dd/yyyy'" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12 control-label">Date of Sale</label>
                        <div class="col-md-12">
                            <div class="input-group date" id="datetimepicker8">
                                <input type="text" class="form-control" ng-model="Commissionslip.DateofSale|date:'MM/dd/yyyy'" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="col-md-12 control-label">Accounting period</label>
                        <div class="col-md-12">
                            <div class="input-group date" id="datetimepicker8">
                                <input type="text" class="form-control" ng-model="Commissionslip.AccountPeriod" disabled />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--form-wrapper-->
        <div class="clearfix"></div>
        <h2>Sales Details</h2>
        <div class="form-wrapper">
            <!--form-wrapper-->
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <div class="col-md-12 row">
                        <div class="clearfix"></div>
                        <div class="col-md-3">
                            <label class="col-sm-12 control-label">Dollar Volume</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.DollarVolume" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="col-sm-12 control-label">Amount of Sale</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.AmountofSale" disabled>
                                </div>
                            </div>
                        </div>
                        <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="col-md-3">
                            <label class="col-sm-12 control-label">Cost of Goods</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.CostofGoods" disabled>
                                </div>
                            </div>
                        </div>
                        <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="col-md-3">
                            <label class="col-sm-12 control-label">Trade In</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.TradeIn" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <hr>
                    </div>
                    <div class="col-md-6">
                        <label class="col-sm-4 control-label">Customer Type</label>
                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="customer-type" id="New" value="1" ng-model="Commissionslip.CustomerType" disabled>
                                New
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="customer-type" id="Existing" value="2" ng-model="Commissionslip.CustomerType" disabled>
                                Existing
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Customer Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="Commissionslip.CustomerName" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Product Line </label>
                            <div class="col-sm-8">
                                <select ng-model="Commissionslip.ProductLine"
                                        ng-options="value.value as value.name for (key, value) in Productline" name="prodline" id="prodline" class="form-control" disabled></select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Customer Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" ng-model="Commissionslip.CustomerNumber" disabled />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Sale Type </label>
                            <div class="col-sm-8">
                                <select ng-model="Commissionslip.SaleType"
                                        ng-options="value.ID as value.SaleTypeName for (key, value) in SaleTypeList" name="SaleType" id="SaleType" class="form-control" disabled></select>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Branch</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Commissionslip.BranchName" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Invoice Number</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="Commissionslip.InvoiceNumber" disabled />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12"></div>
                        </div>
                        <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="col-md-6">
                            <label class="col-sm-4 control-label">Sold Item</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" rows="5" id="comment" disabled ng-model="Commissionslip.CommentSold"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <hr>
                    </div>
                    <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="split-sale col-md-12 row">
                        <div class="col-md-6" style="margin-bottom: 0px;">
                            <div class="col-md-12">
                                <h2>Spilt Sale</h2>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Salesperson Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="split-sale-saleperson-name" placeholder="" ng-model="Commissionslip.SplitSalePerson" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="col-sm-4 control-label">Employee ID</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="employee-id" placeholder="" ng-model="Commissionslip.SplitSalePersonID" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <hr>
                    </div>
                    <div class="tip-lead col-md-12 row">
                        <div class="col-md-6" style="margin-bottom: 0px;">
                            <div class="col-md-12">
                                <h2>Tip Lead</h2>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                        <div class="tip-lead col-md-12 row" ng-repeat="Row in TipLeadRow">
                            <div class="col-md-3">
                                <label class="col-sm-12 control-label">Tip Lead Name</label>
                                <div class="col-sm-12  input-group">
                                    <input type="text" ng-model="Row.TipLeadName" uib-typeahead="person as person.LastName+','+person.FirstName for person in TipLeadlist | filter:{LastName:$viewValue} | limitTo:8" typeahead-on-select='onTipleadSelect($item, $model, $label,$index)' uib-typeahead-wait-ms=100 class="form-control" name="Tipleadname{{$index}}" id="Tipleadname{{$index}}" autocomplete="off">
                                    <span class="input-group-addon"><i class="fa fa-lg fa-search"></i></span>
                                </div>
                            </div>
                            <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="col-md-2">
                                <label class="col-sm-12 control-label">Employee ID</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="TipleadEmpID{{$index}}" name="TipleadEmpID{{$index}}" placeholder="" ng-model="Row.TipLeadEmpID">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-sm-12 control-label">Amount</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" ng-model="Row.TipLeadAmount" ng-change="TotalCommissions()" name="TipLeadAmount{{$index}}" id="TipLeadAmount{{$index}}" aria-label="Amount (to the nearest dollar)" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" maxlength="20">
                                    </div>
                              </div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-sm-12 control-label">Adj.Positive</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" ng-model="Row.PositiveAdjustments" ng-change="TotalCommissions()" name="PositiveAdj{{$index}}" id="PositiveAdj{{$index}}" aria-label="Amount (to the nearest dollar)" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-sm-12 control-label">Adj.Negative</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" ng-model="Row.NegativeAdjustments" ng-change="TotalCommissions()" name="NegativeAdj{{$index}}" id="NegativeAdj{{$index}}" aria-label="Amount (to the nearest dollar)" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div ng-if="Commissionslip.SlipType==SlipsType.TipLeadSlip" class="col-md-2">
                                <label class="col-sm-12 control-label">Company Contribution</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control" ng-model="Row.CompanyContribution" ng-change="TotalCommissions()" name="CompanyContribution{{$index}}" id="CompanyContribution{{$index}}" aria-label="Amount (to the nearest dollar)" ng-pattern="/^[0-9]+(\.[0-9]{1,3})?$/" maxlength="20">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div ng-if="Commissionslip.SlipType==SlipsType.TipLeadSlip" class="col-md-offset-8 col-md-4">
                                <label class="col-sm-12 control-label green">Total Commission Earned</label>
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" value="" ng-model="Row.TotalCEarned" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
            </form>
        </div>
        <!--form-wrapper-->

        <div class="clearfix"></div>
        <h2 ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip">Commissions</h2>
        <div ng-if="Commissionslip.SlipType==SlipsType.CommissionSlip" class="form-wrapper">

            <!--form-wrapper-->
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <div class="tip-lead col-md-12 row">
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Base Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.BaseCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Lease Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.LeaseCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Service Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.ServiceCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Travel Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.TravelCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Cash Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.CashCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="col-sm-12 control-label">Special Commission</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.SpecialCommission" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-offset-8 col-md-4">
                            <label class="col-sm-12 control-label green">Total Commission Earned</label>
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="Commissionslip.TotalCEarned" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--form-wrapper-->
        <div class="clearfix"></div>
        <div class="form-wrapper">
            <!--Only for general manager and payroll-->
            <h2 ng-if="Commissionslip.CommentList.length > 0 || Iseditable==true">Comments</h2>
            <!--form-wrapper-->
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <div class="col-md-12" ng-if="Iseditable==true">
                        <label class="col-sm-8 control-label">Enter your Comments</label>
                        <div class="col-sm-6">
                            <textarea class="form-control commentsedit" rows="5" id="comment" ng-model="Commissionslip.Comments"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div><hr></div>
                    <div class="tip-lead col-md-12 row" ng-if="Commissionslip.CommentList.length > 0">
                        <div class="col-md-12 scrollablecomments">
                            <div class="col-md-12" ng-repeat="Comment in Commissionslip.CommentList| orderBy:'-CreatedOn'">
                                <label class="col-sm-12 control-label">{{Comment.Comments}} <br /><small>{{Comment.CommentedBy}}, {{Comment.CreatedOn|date:'MM/dd/yyyy hh:mm:ss a'}}</small></label>
                                <div class="clearfix"></div>
                                <div><hr></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
        <sdiv class="col-md-6 col-md-offset-6">
            <div class="row">
                <ul class="pull-right btns" ng-if="Iseditable==false">
                    <li><a class="btn" href="javascript:void(0)" ng-click="GoToCommissionslipDetails()">Back</a></li>
                </ul>
                <ul class="pull-right btns" ng-if="LoggedinEmployee.RoleID==RolesType.SalesManager && Iseditable==true">
                    <!--For Sales Manager-->
                    <!--For General Manager-->
                    <li><input type="submit" value="Approve" class="btn" ng-disabled="sreditcommissionform.$invalid" ng-click="EditCommission(3)"></li>
                    <li><input type="submit" value="Reject" class="btn" ng-disabled="sreditcommissionform.$invalid" ng-click="EditCommission(4)"></li>
                    <li><a class="btn" href="javascript:void(0)" ng-click="GoToCommissionslipDetails()">Cancel</a></li>
                </ul>
            </div>
        </sdiv>
    </div>
    <!--container-->
</div>
<!--content-wrapper-->
